.about-banner {
    margin-top: 25px;
    max-width: 75%;
    @include margin-x;
    @include mq($bpMedium) {
        margin-top: 0;
        max-width: 100%;
    }
    & .banner_general {
        background: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 26rem;
        padding-left: 50%;
        @include mq($bpMedium) {
            padding-left: 0;
        }
        & h1,
        & h3 {
            text-align: left;
            @include title(35px, 16px, $font_02, uppercase);
            @include mq($bpMedium) {
                max-width: 100%;
                text-align: center;
            }
        }
        h1 {
            font-size: 16px;
            line-height: 18px;
            text-align: left;
            letter-spacing: 0.23em;
            color: #00FFD1;
            font-family: $font_01;
            @include mq($bpMedium) {
                font-size: 15px;
                text-align: center;
            }
        }
        h3 {
            font-family: $font_01;
            font-weight: normal;
            font-size: 35px;
            line-height: 45px;
            /* or 129% */
            letter-spacing: 0.03em;
            color: $white;
            max-width: 21rem;
            text-transform: initial;
            @include mq($bpMedium) {
                max-width: 100%;
                font-size: 22px;
            }
        }
    }
}

.section_about_contact {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content;
    column-gap: 0;
    justify-items: center;
    max-width: 75%;
    @include margin-x;
    margin-bottom: 17rem;
    margin-top: -12rem;
    column-gap: 7rem;
    padding-left: 6.5%;
    //
    @include mq($bpLarge) {
        padding-left: 2.5%;
        column-gap: 5rem;
        margin-bottom: 10rem;
    }
    @include mq($bpMedium) {
        max-width: 100%;
        grid-template-columns: 1fr;
        padding: 0 3rem;
        margin-bottom: 6rem;
        margin-top: 0;
    }
    & .section_about_contact_image {
        width: 520px;
        height: 736px;
        @include mq($bpLarge) {
            width: 42rem;
            height: 62rem;
        }
        @include mq($bpMedium) {
            display: none;
        }
        & img {
            width: 100%;
            height: 100%;
            @include mq($bpLarge) {
                object-fit: cover;
            }
        }
    }
    & .section_about_contact_info {
        width: 440px;
        align-self: center;
        margin-top: 7rem;
        @include mq($bpLarge) {
            margin-top: 12rem;
        }
        @include mq($bpLarge) {
            width: 100%;
            margin-top: 5rem;
        }
        & p {
            @extend .text;
            letter-spacing: 0.05em;
            justify-self: start;
            align-self: center;
            &:not(:last-of-type) {
                margin-bottom: 3rem;
            }
            @include mq($bpLarge) {
                &:not(:last-of-type) {
                    margin-bottom: 1rem;
                }
            }
        }
        & a {
            @include btn-creator(0, $green, 17rem, 47px);
            @include transition;
            font-family: $font_01;
            font-size: 14px;
            line-height: 11px;
            /* identical to box height, or 82% */
            text-align: center;
            letter-spacing: 0.15em;
            @include mq($bpMedium) {
                width: 15rem;
                height: 31px;
            }
            &:hover {
                background-color: transparent;
                border: 1px solid black;
                color: $black;
            }
            background-color: $green;
            justify-self: flex-end;
            margin-top: 4rem;
        }
    }
}

//about services
.about-services {
    & .banner_slider_prin {
        max-width: 70rem;
        display: block;
        @include margin-x;
        position: relative;
        @include mq($bpLarge) {
            max-width: 60rem;
        }
        & .swiper-pagination {
            bottom: -4rem;
            left: 0;
            right: 0;
            & .swiper-pagination-bullet {
                margin-right: 1rem;
            }
        }
    }
}

//about  Questions
.section_about_questions {
    padding: 13rem 0;
    max-width: 110rem;
    @include margin-x;
    @include mq($bpLarge) {
        padding: 5.5rem 0 6rem 0;
    }
    @include mq($bpMedium) {
        padding: 6rem 3rem;
    }
    & h3 {
        @include title(35px, 16px, $font_02, uppercase);
        max-width: 45rem;
        @include mq($bpMedium) {
            @include title(22px, 15px, $font_02, uppercase);
        }
        & strong {
            margin-top: 1rem;
        }
    }
    & ul {
        margin-top: 7.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.5rem;
        row-gap: 5rem;
        @include mq($bpLarge) {
            row-gap: 3.5rem;
            margin-top: 4.5rem;
        }
        @include mq($bpMedium) {
            grid-template-columns: 1fr;
        }
        & h4 {
            @include btn-creator(0, $black, 100%, 32px);
            text-align: left;
            justify-content: start;
            padding-left: 2rem;
            margin-bottom: 4rem;
            font-weight: normal;
            font-size: 14px;
            line-height: 11px;
            cursor: initial;
            letter-spacing: 0.15em;
        }
        & p {
            @extend .text;
            letter-spacing: 0.05em;
            line-height: 27px;
            padding-left: 2rem;
        }
    }
}