.footer {
    @include footer(black, 7.8rem, 9rem, 3.5rem, 3rem, $white);
    @include mq($bpMedium) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    & .logo {
        @include mq-min($bpMedium) {
            width: 143px;
            height: 89px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    & .sub-menu {
        display: none;
    }
    & * {
        font-family: $font_01;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.05em;
    }
    & .footer__contact {
        align-items: center;
        & span {
            color: $white;
            margin-right: 1rem;
        }
        & .social-footer {
            & li:first-of-type {
                @include mq-min($bpMedium) {
                    margin-right: 1rem;
                }
            }
            & a::before {
                color: $white;
            }
        }
    }
}