.home-about {
    max-width: 75%;
    @include margin-x;
    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content;
        column-gap: 7rem;
        & .home-about-info {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            max-width: 45rem;
            height: calc(100% + 20px);
            & h1 {
                @include title(3.5rem, 1.6rem, $font_01, uppercase);
                margin-bottom: 38px;
            }
            & p {
                @extend .text;
            }
            & a {
                @include btn-creator(0, $green, 17rem, 47px);
                @include transition;
                &:hover {
                    background-color: transparent;
                    border: 1px solid black;
                    color: $black;
                }
                background-color: $green;
                justify-self: flex-end;
                margin-top: 4rem;
            }
        }
        //imgs
        & .home-about-imgs {
            position: relative;
            & figure {
                width: 52.3rem;
                height: 100%;
                &:nth-of-type(2) {
                    position: absolute;
                    top: -9%;
                    right: 0;
                    width: 31.7rem;
                    height: 43.4rem;
                }
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

//Services
.home-services {
    position: relative;
    background-color: #F7FAFD;
    padding: 15.8rem 0;
    opacity: 1!important; //remove this Important later
    & h3 {
        @include title(3.5rem, 1.6rem, $font_01, uppercase);
        margin-bottom: 38px;
        width: fit-content;
        @include margin-x;
        & span {
            text-align: center;
            display: block;
        }
    }
    &>p {
        max-width: 740px;
        @include margin-x;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        /* or 169% */
        letter-spacing: 0.05em;
        margin-bottom: 6rem;
    }
    & .home-service-swiper {
        max-width: 125rem;
        @include margin-x;
        overflow: hidden;
        & li {
            max-width: 275px;
            & h3 {
                margin: 27px 0 22px 0;
                @include margin-x;
            }
            & figure {
                width: 100%;
                height: 384px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & p {
                @extend .text;
                text-align: center;
                letter-spacing: 0.05em;
            }
            & a {
                @include btn-creator(0, $black, 19.2rem, 32px);
                @include margin-x;
                margin-top: 3rem;
            }
        }
    }
}

//benefits
.banner_slider_section {
    background: rgba(27, 27, 27, 0.85);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 11.3rem 0;
    & h3 {
        @include title(3.5rem, 1.6rem, $font_01, uppercase);
        margin-bottom: 38px;
        width: fit-content;
        @include margin-x;
        &,
        & *:not(strong) {
            text-align: center;
            color: $green;
        }
        & strong {
            color: $white;
        }
    }
    & .banner_slider_prin {
        max-width: 50rem;
        display: block;
        @include margin-x;
    }
    & .swiper-slide {}
}