.home-about {
    max-width: 75%;
    @include margin-x;
    margin-bottom: 17rem;
    @include mq($bpLarge) {
        margin-bottom: 12rem;
    }
    @include mq($bpMedium) {
        margin-bottom: 6rem;
        padding: 0 3rem;
        max-width: 100%;
    }
    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content;
        column-gap: 0;
        justify-items: center;
        @include mq($bpMedium) {
            grid-template-columns: 1fr;
        }
        & .home-about-info {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            justify-self: start;
            max-width: 45rem;
            height: calc(100% + 20px);
            & h1 {
                @include title(3.5rem, 1.6rem, $font_01, uppercase);
                margin-bottom: 38px;
                @include mq($bpLarge) {
                    margin-bottom: 2rem;
                }
                @include mq($bpMedium) {
                    @include title(22px, 1.5rem, $font_01, uppercase);
                    & strong {
                        letter-spacing: 0.02em;
                    }
                }
            }
            & p {
                @extend .text;
            }
            & .buttons {
                display: flex;
                justify-content: space-between;
                column-gap: 3rem
            }
            & a {
                @include btn-creator(0, $green, 17rem, 47px);
                @include transition;
                font-family: $font_01;
                font-size: 14px;
                line-height: 11px;
                /* identical to box height, or 82% */
                text-align: center;
                letter-spacing: 0.15em;
                background-color: $green;
                justify-self: flex-end;
                margin-top: 4rem;
                @include mq($bpLarge) {
                    margin-top: 2rem;
                    width: 12rem;
                    height: 34px;
                    font-size: 11px;
                }
                @include mq($bpMedium) {
                    width: 50%;
                }
                &:nth-of-type(2) {
                    background-color: transparent;
                    border: 1px solid black;
                    @include mq-min($bpMedium) {
                        display: none;
                    }
                }
                &:hover {
                    background-color: transparent;
                    border: 1px solid black;
                    color: $black;
                }
            }
        }
        //imgs
        & .home-about-imgs {
            position: relative;
            @include mq($bpMedium) {
                display: none;
            }
            & figure {
                width: 52.3rem;
                height: 100%;
                @include mq($bpLarge) {
                    width: 37.5rem;
                }
                &:nth-of-type(2) {
                    position: absolute;
                    top: -9%;
                    right: -8%;
                    width: 31.7rem;
                    height: 43.4rem;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    @include mq($bpLarge) {
                        height: 100%;
                        width: 23rem;
                        object-fit: cover;
                    }
                }
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

//Services
.home-services {
    position: relative;
    background-color: #F7FAFD;
    padding: 15.8rem 0;
    opacity: 1!important; //remove this Important later
    @include mq($bpLarge) {
        padding: 6rem 0;
    }
    @include mq($bpMedium) {
        padding: 6rem 3rem;
    }
    & h3 {
        @include title(3.5rem, 1.6rem, $font_01, uppercase);
        margin-bottom: 38px;
        width: fit-content;
        @include margin-x;
        @include mq($bpMedium) {
            text-align: center;
            @include title(2.2rem, 1.5rem, $font_01, uppercase);
        }
        & span {
            text-align: center;
            display: block;
        }
    }
    & .arrow {
        background-color: transparent;
        & i {
            font-size: 3rem;
            @include mq($bpLarge) {
                font-size: 2.2rem;
            }
        }
        & i::before {
            color: #787878!important;
        }
        &:hover {
            border: none;
        }
        &.prev {
            left: 12%;
            @include mq($bpLarge) {
                left: 8%;
            }
        }
        &.next {
            right: 12%;
            @include mq($bpLarge) {
                right: 8%;
            }
        }
    }
    &>p {
        max-width: 740px;
        @include margin-x;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 169%;
        letter-spacing: 0.05em;
        margin-bottom: 6rem;
        @include mq($bpLarge) {
            font-size: 14px;
            max-width: 630px;
        }
    }
    & .swiper-pagination {
        @include mq-min($bpMedium) {
            display: none;
        }
        bottom: 2rem;
        left: 0;
        right: 0;
        & .swiper-pagination-bullet {
            background-color: #696969;
            margin-right: 1rem;
        }
        & .swiper-pagination-bullet-active {
            background-color: $green;
        }
    }
    & .home-service-swiper {
        max-width: 120rem;
        @include margin-x;
        @include mq($bpLarge) {
            max-width: 75%;
        }
        @include mq($bpMedium) {
            max-width: 100%;
        }
        overflow: hidden;
        & li {
            max-width: 275px;
            @include mq($bpMedium) {
                max-width: 100%;
            }
            & h3 {
                margin: 27px 0 22px 0;
                @include margin-x;
                text-align: center;
                @include mq($bpLarge) {
                    letter-spacing: initial;
                }
            }
            & picture {
                width: 100%;
                height: 384px;
                overflow: hidden;
                @include mq($bpLarge) {
                    height: 30rem;
                }
                @include mq($bpMedium) {
                    border-radius: 10px;
                    width: 100%;
                    height: 130px;
                }
                & img,
                & source {
                    width: 100%;
                    height: 384px;
                    @include mq($bpMedium) {
                        object-fit: cover;
                        border-radius: 10px;
                        width: 100%;
                        height: 130px;
                    }
                }
            }
            & p {
                @extend .text;
                text-align: center;
                letter-spacing: 0.05em;
                @include mq-min($bpMedium) {
                    min-height: 80px;
                }
            }
            & a {
                @include btn-creator(0, $black, 19.2rem, 32px);
                @include margin-x;
                margin-top: 3rem;
                color: $black;
                font-weight: 500;
                font-size: 15px;
                line-height: 71.7%;
                /* or 11px */
                text-align: center;
                letter-spacing: 0.2em;
                @include transition;
                @include mq($bpLarge) {
                    width: 13rem;
                    font-size: 13px;
                }
                &:hover {
                    background-color: $green;
                    border-color: $green;
                }
            }
        }
    }
}

//benefits
.banner_slider_section {
    background: rgba(27, 27, 27, 0.85);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 11.3rem 0;
    @include mq-min($bpMedium) {
        background-attachment: fixed;
    }
    @include mq($bpLarge) {
        padding: 6rem 0;
    }
    @include mq($bpMedium) {
        padding: 6rem 3rem;
    }
    & h3 {
        @include title(3.5rem, 1.6rem, $font_01, uppercase);
        width: fit-content;
        @include margin-x;
        margin-bottom: 7rem;
        @include mq($bpMedium) {
            @include title(2.2rem, 1.5rem, $font_01, uppercase);
        }
        &,
        & *:not(strong) {
            text-align: center;
            color: $green;
        }
        & strong {
            color: $white;
        }
    }
    & .banner_slider_prin {
        max-width: 50rem;
        display: block;
        @include margin-x;
        position: relative;
        @include mq($bpLarge) {
            max-width: 45rem;
        }
        & .swiper-pagination {
            bottom: -4rem;
            left: 0;
            right: 0;
            @include mq($bpLarge) {
                bottom: -3rem;
            }
            & .swiper-pagination-bullet {
                margin-right: 1rem;
            }
        }
    }
    & .swiper-slide {
        & figure {
            width: 62px;
            height: 62px;
            margin-bottom: 23px;
            @include margin-x;
            & img {
                width: 100%;
                height: 100%;
                @include mq($bpLarge) {
                    object-fit: contain;
                }
            }
        }
        & p {
            @extend .text;
            color: $white;
            letter-spacing: 0.05em;
            text-align: center;
            @include mq($bpMedium) {
                font-size: 14px;
            }
        }
    }
}

//contact
.contact-us-home {
    max-width: 75%;
    @include margin-x;
    padding: 12.4rem 0;
    @include mq($bpLarge) {
        padding: 6rem 0;
    }
    @include mq($bpMedium) {
        display: none;
    }
    & .contact-us-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        @include mq($bpLarge) {
            column-gap: 3rem;
        }
        & h1 {
            @include title(35px, 16px, $font_01, uppercase);
            height: fit-content;
            margin-top: 8rem;
            @include mq($bpLarge) {
                margin-top: 14rem;
            }
            & span {
                display: block;
            }
        }
        & h1,
        &>p {
            max-width: 45rem;
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: flex-start;
            justify-self: center;
            margin-left: 25px;
        }
        &>p {
            @extend .text;
            letter-spacing: 0.05em;
            margin-top: 21.5rem;
            @include mq($bpLarge) {
                margin-top: 27.5rem;
            }
        }
        //form
        & .wpcf7 {
            max-width: 450px;
            & * {
                width: 100%;
            }
            & label {
                font-family: $font_01;
                letter-spacing: 0.1em;
                font-size: 16px;
                display: block;
                margin-bottom: 1rem;
            }
            & input,
            & select {
                height: 37px;
                font-family: $font_02;
                padding-left: 1.5rem;
                color: #696969;
            }
            & select {
                appearance: none;
            }
            & textarea {
                font-family: $font_02;
                padding: 1.5rem;
                height: 85px;
                color: #696969;
            }
            & .input_item {
                margin-bottom: 15px;
            }
            & .button_g_green {
                @include btn-creator(0, $black, 100%, 37px);
                background-color: transparent;
                @include transition;
                color: $black;
                margin-top: 2rem;
                display: block;
                &:hover {
                    background-color: $green;
                    border-color: $green;
                }
            }
            & .wpcf7-form-control-wrap.list_services {
                position: relative;
                &::before {
                    content: '';
                    height: 13px;
                    width: 13px;
                    position: absolute;
                    right: 1.5rem;
                    top: 9px;
                    background-image: url(./../templates/src/assets/img/cross.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    pointer-events: none;
                }
            }
        }
    }
}