.navbar {
    @include margin-x;
    max-width: 100%;
    padding-top: 21px;
    padding-right: 12.5%;
    padding-left: 12.5%;
    @include transition;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: $white;
    &>*:not(ul) {
        padding-bottom: 2rem;
    }
    &::before {
        content: '';
        width: 75%;
        left: 12.5%;
        position: absolute;
        top: calc(100%);
        height: 1px;
        background: #000;
    }
    @include mq($bpMedium) {
        display: none;
    }
    &__list,
    & .header_fixed ul {
        @extend .is-flex;
        align-items: center;
    }
    & .logo {
        width: 116px;
        height: 72px;
        margin-right: 4.5rem;
        padding-bottom: 0;
        margin-bottom: 1rem;
        & a {
            display: block;
            background-color: transparent!important;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
    &__list {
        column-gap: 1.7rem;
        & .menu-item {
            text-align: center;
            padding: 1rem 0;
            padding-bottom: 2rem;
            width: 13.7rem;
            @include transition;
            @include mq($bpLarge) {
                padding: .7rem 1rem;
                padding-bottom: 2rem;
                width: initial;
                & li {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
            &.current-menu-item,
            &:hover {
                & a {
                    background-color: $green;
                }
            }
            & a {
                text-transform: uppercase;
                letter-spacing: 0.5em;
                font-family: $font_01;
                font-weight: 500;
                font-size: 13px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 1rem;
                padding-right: 1rem;
                white-space: nowrap;
                min-width: fit-content;
                @include mq($bpLarge) {
                    font-size: 13px;
                }
            }
        }
        &>li {
            padding-bottom: 4rem;
        }
        &>li:nth-of-type(2) {
            &:hover {
                & .sub-menu {
                    opacity: 1;
                    z-index: 5;
                }
            }
        }
        & .sub-menu {
            display: flex;
            text-align: center;
            padding: 0;
            width: 100%;
            background: $white;
            position: absolute;
            left: 0;
            top: 99%;
            z-index: -100;
            opacity: 0;
            padding-left: 7%;
            transition: top .2s ease, opacity .5s ease;
            & .menu-item a {
                @include mq($bpLarge) {
                    font-size: 11px;
                }
            }
            & li {
                position: relative;
                & a {
                    background-color: transparent!important;
                    padding: 0!important;
                }
                &::before {
                    content: '';
                    background-color: $black;
                    position: absolute;
                    left: 1rem;
                    top: 35%;
                    height: 8px;
                    width: 8px;
                    border-radius: 3rem;
                    opacity: 0;
                    @include mq-min($bpLarge) {
                        left: 3rem;
                    }
                }
                &:hover {
                    background-color: white;
                    & a {
                        background-color: transparent;
                    }
                    &::before {
                        transition: all .3s ease;
                        opacity: 1;
                    }
                }
                width: fit-content;
                padding: 0 3rem;
                margin: 3rem 0;
                @include mq-min($bpLarge) {
                    padding: 0 5rem;
                }
                &,
                & * {
                    letter-spacing: 0.1em;
                    @include mq-min($bpLarge) {
                        font-size: 14px;
                    }
                }
                &:not(:last-of-type) {
                    border-right: 1px solid $black;
                }
            }
        }
    }
    & .header_fixed {
        & ul {
            column-gap: 2rem;
            & a {
                &::before {
                    font-size: 25px;
                    @include mq($bpLarge) {
                        font-size: 18px;
                    }
                }
                &:hover {
                    &::before {
                        @include transition;
                        color: $green;
                    }
                }
            }
        }
        justify-self: flex-end;
        margin-left: auto;
        & a {
            font-size: 20px;
            @include mq($bpLarge) {
                font-size: 20px;
            }
        }
    }
}

.navbar-mobile {
    background-color: $white;
    padding: 1rem 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    &.active {
        position: fixed;
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.23);
    }
    & .logo {
        width: 81px;
        height: 50px;
        @include margin-x;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    @include mq-min($bpMedium) {
        display: none;
    }
}


/*
* Mobile Menu
*/

.burger-menu {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 10;
    width: fit-content;
    padding: 1rem 3rem 1rem 1.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    @include mq($bpBig) {
        display: block;
    }
    & span {
        display: block;
        width: 26px;
        height: 3px;
        background-color: $black;
        border-radius: 2rem;
        &:not(:last-of-type) {
            margin-bottom: .6rem;
        }
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    opacity: 0;
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $green;
    overflow: hidden;
    @include transition;
    z-index: 15;
    @include mq($bpBig) {
        flex-direction: column;
        display: flex;
        &.active {
            right: 0;
            opacity: 1;
            position: fixed;
            overflow: hidden;
        }
    }
    & .logo {
        margin-left: auto;
        margin-top: 2rem;
        display: block;
        padding-bottom: 2rem;
        position: absolute;
        left: 0;
        width: 100%;
        & a {
            display: block;
            @include margin-x;
            width: fit-content;
            width: 112px;
            height: auto;
        }
        & img {
            width: 100%;
            height: 100%;
        }
    }
    & .burger-menu {
        position: absolute;
        right: 30px;
        left: unset;
        top: 3rem;
        border-radius: 5rem;
        background-color: $white;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: $yellow;
        font-weight: 700;
        padding: 0;
        & img {
            width: 1.8rem;
        }
    }
    & .navbar__list {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 160px;
        padding: 0;
        &>li {
            display: block;
            margin-bottom: 0;
            padding: 0;
            height: 45px;
            display: flex;
            align-items: center;
            padding-left: 4.5rem;
            font-weight: 500;
            font-size: 17px;
            line-height: 14px;
            letter-spacing: 0.03em;
            width: 100%;
            & a {
                letter-spacing: 0.03em;
                font-size: 17px;
                background-color: transparent!important;
            }
        }
    }
    &.current-menu-item,
    & li:hover {
        &::before {
            opacity: 0;
        }
    }
    & .current-menu-item,
    & .current-menu-item:hover {
        @include transition;
        background-color: $white!important;
        border-bottom: none;
        & * {
            color: $black;
        }
        li+& {
            border-bottom: none;
        }
        &::before {
            opacity: 0;
        }
    }
    & li {
        width: 100%;
        padding: 0 0 5px 0;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1.6rem;
        border-bottom: 1px solid $black;
        text-align: center;
        & a {
            color: $black;
        }
    }
    & li.active {
        &.active {
            & a {
                color: $black;
            }
        }
    }
    & .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: block;
        background-color: transparent;
        padding: 0 30px;
        &__contact.responsive {
            padding: 4rem 0;
            display: grid;
            grid-template-columns: 6fr 1fr;
            align-items: center;
            & h3 {
                grid-column: 1/-1;
                & p {
                    color: $black;
                    font-weight: bold;
                    font-size: 18px;
                    font-family: $font_01;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
            }
            & i {
                margin-right: 1rem;
            }
            & li {
                margin: 0;
                width: fit-content;
                padding-left: 0;
                margin-left: 0;
                padding-bottom: 0;
                border: none;
                text-align: left;
                & * {
                    font-size: 17px;
                    font-family: $font_02;
                    font-weight: normal;
                    font-size: 14px;
                    & a {
                        display: block;
                        color: $black;
                    }
                    & strong {
                        color: $black;
                    }
                }
                &>p {
                    display: flex;
                    margin-bottom: 15px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    font-family: $primary-font;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
            & .social-media-footer {
                & li {
                    margin-right: 0;
                    margin-left: auto;
                    &:nth-of-type(1) {
                        margin-bottom: 10px;
                    }
                }
                & a {
                    font-size: 22px;
                }
            }
        }
    }
}