@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


/*
* 1rem = 16px;
*FZ = 62.5% = 1rem 10px;
*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: $black;
}

body {
    font-family: $primary-font;
    font-size: 1.6rem;
    color: #414141;
    overflow-x: hidden;
}

html,
body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

img {
    display: block
}

a {
    text-decoration: none;
    color: #414141;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
strong,
span {
    font-family: $font_01;
}

p {
    font-family: $font_02;
}

h3 {
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-size: 2.5rem;
    @include mq($bpSmall) {
        font-size: 2rem;
    }
}

p,
strong,
span,
input,
textarea {
    color: #414141;
}

p,
a {
    font-family: $font_02;
}

input,
textarea,
select {
    font-size: 15px;
    &:focus,
    &:active {
        outline: none;
    }
    resize: none;
}