[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
    content: "\e906";
}

.icon-cross:before {
    content: "\e905";
    color: #000;
}

i.icon-arrow-black {
    display: block;
}

.icon-arrow-black:before {
    content: "\e904";
    color: #000;
    font-size: 12px;
    display: block;
}

.icon-instagram:before {
    content: "\e900";
    color: #000;
}

.icon-mail:before {
    content: "\e901";
    color: #000;
}

.icon-phone:before {
    content: "\e902";
    color: #000;
}

.icon-facebook:before {
    content: "\e903";
    color: #000;
}

.home-swiper {
    i.icon-arrow-black {
        display: block;
    }
    .icon-arrow-black:before {
        content: "\e904";
        color: #000;
        font-size: 15px;
        display: block;
    }
}

.home-testimonials {
    .icon-arrow-black:before {
        content: "\e904";
        color: #000;
        font-size: 10px;
        display: block;
    }
}