.is-flex {
    display: flex;
}

.btn {
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: $primary-font;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;
    &+& {
        margin-left: 3rem;
    }
    &--yellow {
        background-color: $yellow;
        color: $white;
        padding: 1px 2rem;
        border: 2px solid transparent;
        width: 172px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
        &:hover {
            background-color: transparent;
            color: $black;
            border: 2px solid $black
        }
    }
}

.arrow {
    width: 4.2rem;
    height: 95px;
    background-color: $black;
    @extend .is-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    z-index: 10000;
    color: $white;
    font-weight: 600;
    font-size: 3rem;
    cursor: pointer;
    & i {
        font-size: 1.6rem;
        &::before {
            color: $white!important;
        }
    }
    @include mq($bpLarge) {
        width: 5rem;
        height: 5rem;
    }
    @include mq($bpMedium) {
        display: none;
    }
    &:hover {
        border: 1px solid $yellow;
        color: $yellow;
    }
    &.prev {
        left: 0;
        transform: rotate(180deg);
    }
    &.next {
        right: 0;
    }
}

.header-responsive-picture {
    display: none;
    @include mq($bpMedium) {
        display: initial;
    }
    &>img {
        width: 100%;
        height: 210px;
        opacity: .8;
    }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}